// fonts family
$primaryFont: 'Inter';
$secondaryFont: 'Inter';

// colors
$white: #ffffff;
$black: #000000;
$iPrimary: #526CF6;
$iSecondary: #FF7714;
$iBlack: #232323;
$iGray: #676767;
$iGray1: #d6d6d6;
$iGray2: #fff9e9;
$iGray3: #fff9e9;
$purple:#975DF8;
$orange: #E77136;
$seagreen:#43C89C;
$yellow:#FFAB09;
$pink:#975DF8;
$pink2:#FF406F;
$brown:#BE5407;

// gradient

$banner-gradient: linear-gradient(180deg, #EAF1FD 0%, #FFFFFF 100%);